body.nojs
  // background: white
  .title
    height: 100px
    background-repeat: no-repeat
    background-size: auto 100%
    overflow: hidden
    font-size: 32px
    font-weight: 400
    text-transform: uppercase
