h1 Sorry your Browser is not supported.
p You are using #{bowser.name} version #{bowser.version}.
br
p Please install recent version of
  a(href='http://google.com/chrome' target="_blank")  Google Chrome
  | ,
  a(href='http://www.apple.com/safari/' target="_blank")  Safari
  | ,
  a(href="http://getfirefox.com" target="_blank")  Firefox
  |  or
  a(href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank")  Internet Explorer


//- http://outdatedbrowser.com